#keypad {
    display: grid;
    padding-top: 10%;
    justify-content: center;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 60% 60% 60% 60%;
    grid-column-gap: 7px;
    grid-row-gap: 7px;
}